body {	 
	 font-family: Times New Roman;	
	 background-color: #18181B;	 
}  
#navbar {
      background-color: #18181B;
      overflow: hidden;      
      width: 100%;
      text-align: left;
      z-index: 100;
      transition: top 0.3s;
    }

    #navbar a {
      text-decoration: none;
      font-size: 10px;
      color: #F1F0EF;
      display: inline-block;
    }

    #navbar a:hover {
      background-color: #991F36;
      color: #18181B;
    }

    .icon {
      display: none;
      cursor: pointer;
    }

    #gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: space-around;
   
    }

    #gallery img {
      width: 100%;
      height: auto;
      margin: 5px;
      transition: filter 0.3s;
    }

    .image-container {
      position: relative;     
    }

    img {
      max-width: auto;
      height: auto;
      object-fit: cover;
    }

    .image-caption-top,
    .image-caption-bottom {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      text-align: center;
      padding: 10px;
      opacity: 0;
      transition: opacity 0.3s;
      margin: 15px;
    }

    .image-container:hover .image-caption-top {
      opacity: 1;
      top: 0;
      top: center;
    }

    .image-container:hover .image-caption-bottom {
      opacity: 1;
      bottom: 0;
      bottom: center;
    }

    #toTopBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #991F36;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
    }

    #toTopBtn:hover {
      background-color: #F1F0EF;
      color: #991F36;
    }
@media screen and (max-width: 1080px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  body {
    font-size: 19px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 11px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 8px;
  }
}
