body {
	 margin: 40px 0;
	 font-family: Times New Roman;
	@@ -6,41 +17,66 @@ body {
	 background-color: #18181B;

}
  #navbar {
      background-color: #18181B;
      overflow: hidden;
      position: fixed;
      width: 100%;
      top: 0;
      text-align: center;
      z-index: 1000;
      transition: top 0.3s;
    }

    #navbar a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
      color: #F1F0EF;
      display: inline-block;
    }

    #navbar a:hover {
      background-color: #991F36;
      color: #F1F0EF;
    }

    .icon {
      display: none;
      cursor: pointer;
    }

    #gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: space-around;
      padding: 40px;
    }

    #gallery img {
	@@ -85,51 +121,120 @@ body {
      bottom: 0;
      bottom: center;
    }

    #toTopBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #991F36;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
    }

    #toTopBtn:hover {
      background-color: #F1F0EF;
      color: #991F36;
    }




    @media (max-width: 600px) {
      #navbar a:not(:first-child) {
        display: none;
      }

      #navbar a.icon {
        float: right;
        display: block;
      }

      #navbar.responsive {
        position: relative;
      }

      #navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      #navbar.responsive a {
        display: block;
        text-align: left;
      }
